*.log
.DS_Store
Thumbs.db

# Env
.env
.env.backup
.env.production

# IDEs
/.idea
/.vscode
/.fleet
/.nova
/.zed

# PHP / Laravel
/vendor
/storage/*.key
/storage/pail
.phpunit.result.cache
.phpunit.cache
.phpactor.json
auth.json

# Node / Frontend
/node_modules
npm-debug.log
yarn-error.log

# Build / Vite
/public/build
/public/hot
.vite

# Storage (NO subir archivos públicos generados)
/public/storage

# Opcional legacy Laravel
bootstrap/compiled.php
app/storage/

# Homestead
Homestead.json
Homestead.yaml
/.vagrant