.navbar {
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: white;
}

.whatsapp-button {
  position: fixed;
  top: 1px;
  right: 20px;
  z-index: 1000;
}

.btn-rosa {
  background-color: #FBC02D;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-rosa:hover {
  background-color: #FBC02D;
  color: #fff;
}

.card img {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.05);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FAFAFA !important;

}

.text-rosa {
  color: #FBC02D; /* Cambia este valor por el tono exacto de rosa de tu logo */
}

.text-rosa:hover {
  color: #FBC02D; /* Un tono más oscuro para el hover */
  text-decoration: none;
}
.text-center{
  color: #FBC02D; /* Un tono más oscuro para el hover */
  text-decoration: none;
}
.mb-4{
  color: #FBC02D; /* Un tono más oscuro para el hover */
  text-decoration: none;
}

.bg-rosa-pastel {
  background-color: #FBC02D !important;
}

/* Estilo para imágenes del carrusel */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}




.navbar-nav .nav-link.active {
  color: #000 !important;
  text-decoration: underline;
  font-weight: bold;
}

.btn-rosa {
  background-color: #4f5152; /* Rosa Bootstrap (pink) */
  color: white;
  border: none;
}

.btn-rosa:hover {
  background-color: #4f5152;
}

.category-header {
  font-size: 2.5rem;
  color: #4f5152; /* rosa vibrante */
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.category-header span {
  border-bottom: 4px solid #4f5152;
  padding-bottom: 5px;
}